@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yako Tienda de mascotas</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/Template/CSS/style.css">

</head>
<body>

    <!-- header section starts  -->

    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-paw"></i> Yako </a>

        <nav class="navbar">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li> <a href="#about">About</a> </li>
                        <li> <a href="#shop">Shop</a> </li>
                        <li> <a href="#contact">Contact</a> </li>
                    </ul>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <a href="#" class="fas fa-shopping-cart"></a>
            <div class="fas fa-user" id="login-btn"></div>
        </div>

        <form action="" class="login-form">
            <h3>sign in</h3>
            <input type="email" name="" placeholder="enter your email" id="" class="box">
            <input type="password" name="" placeholder="enter your password" id="" class="box">
            <div class="remember">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me">Remember Me</label>
            </div>
            <input type="submit" value="sign in" class="btn">
            <div class="links">
                <a href="Views/Home/Registrarse.cshtml">Sign up</a>
            </div>
        </form>

    </header>

    <!-- header section ends -->
    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <h3> <span>Hi</span> Welcome to Yako Pet Shop </h3>
            <a href="#" class="btn">Shop Now</a>
        </div>

        <img src="~/Template/Images/bottom_wave.png" class="wave" alt="">

    </section>

    <!-- home section ends -->
    <!-- about section starts  -->

    <section class="about" id="about">

        <div class="image">
            <img src="~/Template/Images/about_img.png" alt="">
        </div>

        <div class="content">
            <h3>Premium <span>Pet Food</span> Manufacturer</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum sint, dolore perspiciatis iure consequuntur eligendi quaerat vitae shaikh anas.</p>
            <!--<a href="#" class="btn">read more</a>-->
        </div>

    </section>

    <!-- about section ends -->
            <!-- dog and cat food banner section starts -->

            <div class="dog-food">

                <div class="image">
                    <img src="~/Template/Imagesdog_food.png" alt="">
                </div>

                <div class="content">
                    <h3> <span>Air dried</span> Dog food </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat iure illo, repudiandae rem porro sunt.</p>
                    <div class="amount">$15.00 - $30.00</div>
                    <a href="#"> <img src="~/Template/Images/shop_now_dog.png" alt=""> </a>
                </div>

            </div>

            <div class="cat-food">

                <div class="content">
                    <h3> <span>Air dried</span> Cat food </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat iure illo, repudiandae rem porro sunt.</p>
                    <div class="amount">$15.00 - $30.00</div>
                    <a href="#"> <img src="~/Template/Images/shop_now_cat.png" alt=""> </a>
                </div>

                <div class="image">
                    <img src="~/Template/Images/cat_food.png" alt="">
                </div>

            </div>

            <!-- dog and cat food banner section ends -->
            <!-- shop section starts  -->

            <section class="shop" id="shop">
                <h1 class="heading"> Our <span> Products </span> </h1>
                <div class="box-container">

                    <div class="box">
                        <div class="icons">
                            <a href="#" class="fas fa-shopping-cart"></a>
                        </div>
                        <div class="image">
                            <img src="~/Template/Images/BA.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Beggin Strips</h3>
                            <div class="amount"> ₡8.000 </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="icons">
                            <a href="#" class="fas fa-shopping-cart"></a>
                        </div>
                        <div class="image">
                            <img src="~/Template/Images/NS_ADULTO.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Nutri Source</h3>
                            <div class="amount"> ₡30.000 </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="icons">
                            <a href="#" class="fas fa-shopping-cart"></a>
                        </div>
                        <div class="image">
                            <img src="~/Template/Images/NS_SEAFOOD-GRAIN-FREE.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Nutri Source Sea food</h3>
                            <div class="amount"> ₡35.000 </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="icons">
                            <a href="#" class="fas fa-shopping-cart"></a>
                        </div>
                        <div class="image">
                            <img src="~/Template/Images/tonka-mega-tread-ball-dog-toys-medium.jpg.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Tonka Ball</h3>
                            <div class="amount"> ₡8.000 </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="icons">
                            <a href="#" class="fas fa-shopping-cart"></a>
                        </div>
                        <div class="image">
                            <img src="~/Template/Images/7501072210692_PP_Perro_Puppy_RP_PllyArzOptistart_BULTO_3.5_F_sk.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Pro Plan, Cachorro</h3>
                            <div class="amount"> ₡30.000 </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="icons">
                            <a href="#" class="fas fa-shopping-cart"></a>
                        </div>
                        <div class="image">
                            <img src="~/Template/Images/481T11062081.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Felix</h3>
                            <div class="amount"> ₡5.000 </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- shop section ends -->

            <section class="contact" id="contact">

                <div class="image">
                    <img src="~/Template/Images/contact_img.png" alt="">
                </div>

                <div class="contactinfo">
                    <h3> <span>Contact</span> Us </h3> </br/>

                    <p> <span>Phone Number: </span> <br/> +506 8781 3232 </p> <br/>
                    <span>Email: </span> <br>
                    <a href="mailto:info@yakoenlinea.com">  info@yakoenlinea.com </a> <br/> <br/> <br/>
                    <span>Direction: </span> <br>
                    <a href="https://goo.gl/maps/jQw4V5BtZz2FheD28"> 40104 Heredia, Provincia de Heredia, Costa Rica </a> <br/> <br/>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d982.3727253171373!2d-84.13901737083917!3d9.976246920381248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fb2af80b1d9f%3A0x8768987fbd6a0671!2sYako%20Tienda%20de%20Mascotas!5e0!3m2!1ses!2scr!4v1647713756734!5m2!1ses!2scr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>

            </section>

            <section class="footer">

                <img src="~/Template/Images/top_wave.png" alt="">

                <div class="share">
                    <a href="https://www.facebook.com/YAKOTIENDADEMASCOTAS" class="btn"> <i class="fab fa-facebook-f"></i> Facebook </a>
                    <a href="https://www.instagram.com/yakotiendademascotas/?hl=es-la" class="btn"> <i class="fab fa-instagram"></i> Instagram </a>
                </div>

                <div class="credit"> created by <span> Andrés Barrantes </span> | all rights reserved! </div>

            </section>
            <script src="~/Template/JS/script.js"></script>
</body>
</html>